/*
body{
    background-image: url("../static/1.jpg");
    background-position:center;
    background-attachment: fixed;

}
*/
#search{
    width: 400px;


}
.search{
 padding-left: 200px;
}
.posts{
    padding-top: 400px;
}