<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<script src="{% static 'jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'https://code.jquery.com/ui/1.12.1/jquery-ui.js' %}"></script>
<script src="{% static 'jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'jquery.selectBoxIt.min.js' %}"></script>
<script src="{% static 'front.js' %}"></script>
</body>
</html>




