<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'tablee.css' %}" rel="stylesheet"/>

    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>

    <!-- Animation library for notifications   -->
    <link href= "{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href=" {% static 'css/paper-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'demo.css' %}" rel="stylesheet" />
    <link href="{% static 'front.css' %}" rel="stylesheet" />
    <!--  Fonts and icons     -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css' %}"  rel="stylesheet">
</head>
<body>

</body>
</html>