<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
	    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static '//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %}"/>
		<link rel="stylesheet" href="{% static 'jquery.selectBoxIt.css' %}" />
		<link rel="stylesheet" href="{% static 'front.css' %}" />
        
</head>
<body>

</body>
</html>
