<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% extends "homepage/base.html" %}
{% block main_block %}
    {% load static %}
    <div class="wrapper" >
    <div class="container">
    <div class="row">
    <div class="sidebar"  >

        <div class="sidebar-wrapper col-3">
            <div class="logo">
                <a href="#" class="simple-text">
                   Home
                </a>
            </div>
            <ul class="nav">
            <li class="active">
            <h3>Categories</h3>
            </li>
            {% for Category in allCategories %}

                <ul class="list-styled components">
                    <li><a href="/blog/homepage/{{Category.id}}">{{Category.category_name}}</a></li>

<br>
                    <button class="btn Subcribe " value="{{Category.id}}" >Subcribe
                    </button>


                </ul>
                </ul>
            {%  endfor  %}

        </div>
    </div>

        <div class="posts col-md-9">
            <h3 >Top Posts</h3>

            {% for Post in allPosts %}

                <h5 href="#">{{Post.title}}</h5>

                <div><img src="{{post.picture.url}}"></div>
                <div>
                    <p> {{Post.content}} </p>
                </div>


            {%  endfor  %}
        </div>
    </div>


{% endblock %}
</div>
</div>
</body>
</html>