<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{% extends "homepage/base.html" %}

{% block main_block %}
 {% include 'homepage/navbar.html' %}
    {% load static %}
    <div class="wrapper" >
    <div class="container">
    <div class="row">
    <div class="sidebar"  >

        <div class="sidebar-wrapper col-3">
            <div class="logo">
                <a href="#" class="simple-text">
                   Home
                </a>
            </div>
            <ul class="nav">
            <li class="active">
            <h3>Categories</h3>
            </li>
            {% for Category in allCategories %}

                <ul class="list-styled components">
                    <li><a href="/blog/homepage/{{Category.id}}">{{Category.category_name}}</a></li>

<br>


                   {% if user.is_authenticated %}
                        {% if Category.id in subcat %}
                        <a>  <button class="subs"  value="{{Category.id}}">Unsubscribe</button></a>
                        {% else %}
                        <a>  <button class="subs"  value="{{Category.id}}">Subscribe</button></a>
                        {% endif %}
                   {% endif %}

                </ul>
                </ul>
            {%  endfor  %}

        </div>
    </div>



        <div class="posts col-md-9">
            <h3 >Top Posts</h3>

            {% for Post in allPosts %}

                <a href="/blog/post/{{Post.id}}"><h5 >{{Post.title}}</h5></a>

                <div>
                    {% if post.picture %}
                    <img src="{{post.picture.url}}" width="50" height="50">
                    {% endif %}
                </div>

                <div>
                    <p> {{Post.content}} </p>
                </div>


            {%  endfor  %}
        </div>
    </div>



</div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if allPosts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={
                    allPosts.previous_page_number }">previous</a>
        {% endif %}

        <span class="current">
            Page {{ allPosts.number }} of {{ allPosts.paginator.num_pages }}.
        </span>

        {% if allPosts.has_next %}
            <a href="?page={{ allPosts.next_page_number }}">next</a>
            <a href="?page={{ allPosts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
</body>
</html>