/*body{
    background-image: url("../static/1.jpg");
    background-position:center;
    background-attachment: fixed;

}
*/
.sidebar{
   background-color: rgba(0,0,0,0.2);
}
#search{
    width: 400px;


}
.search{
 padding-left: 200px;
}